In [4]:
import pandas as pd 
data_table = pd.read_csv("turnstile_190831.txt")

In [5]:
data_table

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/24/2019,00:00:00,REGULAR,7176756,2430372
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/24/2019,04:00:00,REGULAR,7176772,2430375
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/24/2019,08:00:00,REGULAR,7176786,2430408
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/24/2019,12:00:00,REGULAR,7176862,2430481
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/24/2019,16:00:00,REGULAR,7177008,2430520
...,...,...,...,...,...,...,...,...,...,...,...
205258,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2019,05:00:00,REGULAR,5554,389
205259,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2019,09:00:00,REGULAR,5554,389
205260,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2019,13:00:00,REGULAR,5554,389
205261,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2019,17:00:00,REGULAR,5554,389
205262,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2019,21:00:00,REGULAR,5554,389