In [2]:
import pandas as pd
import numpy as np
import re
from collections import Counter
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime,timedelta,date
%matplotlib inline

In [16]:
data_table = pd.read_csv("turnstile_190831.txt", parse_dates=[[6,7]])
data_table

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS
0,2019-08-24 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7176756,2430372
1,2019-08-24 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7176772,2430375
2,2019-08-24 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7176786,2430408
3,2019-08-24 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7176862,2430481
4,2019-08-24 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177008,2430520
5,2019-08-24 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177221,2430563
6,2019-08-25 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177326,2430585
7,2019-08-25 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177337,2430588
8,2019-08-25 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177347,2430606
9,2019-08-25 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177421,2430646
10,2019-08-25 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177525,2430705
11,2019-08-25 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177677,2430762
12,2019-08-26 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177742,2430784
13,2019-08-26 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177749,2430786
14,2019-08-26 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177780,2430862
15,2019-08-26 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7177891,2431064
16,2019-08-26 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7178096,2431123
17,2019-08-26 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7178703,2431195
18,2019-08-27 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7178840,2431219
19,2019-08-27 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7178855,2431222
20,2019-08-27 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7178899,2431313
21,2019-08-27 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7179014,2431534
22,2019-08-27 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7179248,2431601
23,2019-08-27 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7179808,2431702
24,2019-08-28 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7179982,2431740
25,2019-08-28 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7179983,2431742
26,2019-08-28 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7180017,2431830
27,2019-08-28 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7180149,2432057
28,2019-08-28 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7180390,2432121
29,2019-08-28 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7180966,2432263
...,...,...,...,...,...,...,...,...,...,...
205233,2019-08-26 01:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205234,2019-08-26 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205235,2019-08-26 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205236,2019-08-26 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205237,2019-08-26 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205238,2019-08-26 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205239,2019-08-27 01:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205240,2019-08-27 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205241,2019-08-27 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205242,2019-08-27 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205243,2019-08-27 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205244,2019-08-27 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205245,2019-08-28 01:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205246,2019-08-28 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205247,2019-08-28 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205248,2019-08-28 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205249,2019-08-28 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205250,2019-08-28 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,386
205251,2019-08-29 01:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205252,2019-08-29 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205253,2019-08-29 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205254,2019-08-29 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205255,2019-08-29 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205256,2019-08-29 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205257,2019-08-30 01:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205258,2019-08-30 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205259,2019-08-30 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205260,2019-08-30 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205261,2019-08-30 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389
205262,2019-08-30 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,389

In [ ]:
def readfiles(file):
    df.merge(pd.read_csv)

## Data Overview

In [10]:
data_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205263 entries, 0 to 205262
Data columns (total 11 columns):
C/A                                                                     205263 non-null object
UNIT                                                                    205263 non-null object
SCP                                                                     205263 non-null object
STATION                                                                 205263 non-null object
LINENAME                                                                205263 non-null object
DIVISION                                                                205263 non-null object
DATE                                                                    205263 non-null object
TIME                                                                    205263 non-null object
DESC                                                                    205263 non-null object
ENTRIES                                                                 205263 non-null int64
EXITS                                                                   205263 non-null int64
dtypes: int64(2), object(9)
memory usage: 17.2+ MB

### Find NaN values
In Entries column; "RECOVR AUD" entry: refers to a missed audit that was recovered.

In [13]:
data_table.isnull().any()

C/A                                                                     False
UNIT                                                                    False
SCP                                                                     False
STATION                                                                 False
LINENAME                                                                False
DIVISION                                                                False
DATE                                                                    False
TIME                                                                    False
DESC                                                                    False
ENTRIES                                                                 False
EXITS                                                                   False
dtype: bool

In [14]:
data_table.isnull().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

#### We don't have NaN values, but there might be useless values such as RECOVR AUD

In [29]:
entires=data_table.apply(lambda x: str(x['ENTRIES']).find('RECOVR AUD'))

#data_table['ENTRIES'].data_table("NoneNoneNoneNone","None ", inplace=True)

KeyError: ('ENTRIES', 'occurred at index DATE_TIME')

### Parse timestamp