In [1]:
import pandas as pd
import numpy as np
import re
from collections import Counter
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime,timedelta,date
%matplotlib inline

In [2]:
df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190525.txt", parse_dates=[[6,7]])

In [3]:
df.columns=df.columns.str.strip()

In [ ]:
df1=df.iloc[:,[0,2,3,4,8,9]].copy()
df1['INFLOW']=0
df1['OUTFLOW']=0
df1['UNIQUE_STILE']=df1['STATION']+'*'+df1['UNIT']+'*'+df1['SCP']
df1['UNIQUE_UNIT']=df1['STATION']+'*'+df1['UNIT']
df1.head()

,DATE_TIME,UNIT,SCP,STATION,ENTRIES,EXITS,INFLOW,OUTFLOW,UNIQUE_STILE,UNIQUE_UNIT
0,2019-05-18 00:00:00,R051,02-00-00,59 ST,7062481,2393489,0,0,59 ST*R051*02-00-00,59 ST*R051
1,2019-05-18 04:00:00,R051,02-00-00,59 ST,7062505,2393492,0,0,59 ST*R051*02-00-00,59 ST*R051
2,2019-05-18 08:00:00,R051,02-00-00,59 ST,7062529,2393526,0,0,59 ST*R051*02-00-00,59 ST*R051
3,2019-05-18 12:00:00,R051,02-00-00,59 ST,7062627,2393612,0,0,59 ST*R051*02-00-00,59 ST*R051
4,2019-05-18 16:00:00,R051,02-00-00,59 ST,7062835,2393662,0,0,59 ST*R051*02-00-00,59 ST*R051

In [ ]:
stiles=df1['UNIQUE_STILE'].unique()
for i,stile in enumerate(stiles):
    df1_stile=df1[df1.UNIQUE_STILE==stile]
    df1.loc[df1.UNIQUE_STILE==stile, 'INFLOW']=df1_stile['ENTRIES'].diff().fillna(0)
    df1.loc[df1.UNIQUE_STILE==stile, 'OUTFLOW']=df1_stile['EXITS'].diff().fillna(0)
    if i%500 == 0:
        print(i,stile,df1.loc[df1.UNIQUE_STILE==stile, 'OUTFLOW'].values)

0 59 ST*R051*02-00-00 [  0.   3.  34.  86.  50.  34.  23.   6.  19.  49.  44.  39.  19.   1.
 128. 253.   0.   1.  49.  65.  30.   5. 108. 245.  62.  76.  32.   3.
 116. 224.  66.  78.  28.   6.  93. 235.  70.  56.  53.   4.  97. 210.
  61.  41.]

In [ ]:
counter=0
for i in df1['INFLOW']:
    if i<0:
        print('fixed')
        df1['INFLOW'].values[counter]=0
    counter+=1
    #print(i)
counter

In [ ]:
df1.describe()

In [ ]:
counter=0
for i in df1['OUTFLOW']:
    if i<0:
        #print('fixed')
        df1['OUTFLOW'].values[counter]=0
    counter+=1
    #print(i)
counter

In [ ]:
df1.describe()

In [ ]:
df1.head(10)

In [ ]:
# plt.figure(figsize=(200,200))
exists_sum = df1.groupby('STATION').sum().sort_values('OUTFLOW',ascending=False)
plt.pie(exists_sum.head(10).OUTFLOW,labels= exists_sum.head(10).index.values,autopct='%1.0f%%');
# plt.bar(exists_sum.head(10).STATION,exists_sum.head(10).EXITS)#.bar();
plt.title("Top Ten Station BY Number Of Exists");

In [ ]:
exits_list=exists_sum.head(10).OUTFLOW
exits_list

In [ ]:
exists_sum.head()

In [ ]:
updated_exists_sum= exists_sum.drop(['FULTON ST'])

In [ ]:
updated_exists_sum.head(10)

In [ ]:
plt.figure(figsize=(20,8))
x = updated_exists_sum
plt.plot(x);

In [ ]:
station_col = df1.groupby('STATION')
station_name = station_col.get_group('FULTON ST')
station_name

In [ ]:
plt.figure(figsize=(8,8))
toyStory_movie['Rating'].value_counts().plot(kind='bar', alpha=0.7)
plt.title('The User Rating of The Movie Toy Story')
plt.show()